 body{
    margin: 0;
    font-family: 'segoe UI', sans-serif;
    line-height: 1.6;
 }

 header {
    background-color: #333;
    color:white;
    padding:1rem;
    text-align: center;
 }
 nav a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
 }
 section {
    padding: 2rem;
    text-align: center;
 }
 #home img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 1rem 0;
 }
 .project-card {
    background-color:#f4f4f4;
    padding:1rem;
    margin: 1rem auto;
    max-width: 300px;
    border-radius: 8px;
 }

form input, form textarea {
  width: 20%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  margin-left: 30vw;
  display: flex;
  flex-direction: column   ;
 
}
form button {
    padding:0.7rem 1.2rem;
    background-color: #007bff;
  color: white;
    border: none;
    cursor: pointer;
}
footer {
    text-align: center;
    padding: 1rem;
    background: #eee;
}
#about > p {
 font-size:24px;
 text-align:left;
}
.projects-container{
 display:flex;
}
#projects-container{
 display:flex;

}
#contact button:hover {
  background-color: #0056b3;
}
